.homeBooking{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.5rem);
    width: 100%;
    height: 100vh;
    z-index: 100000;
    position: fixed;
}
.registerBtn{
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    border: none;
    color: #35e888;
    
}
.bookingCloseBtn{
    cursor: pointer;
    color: #35e888;
    font-size:larger;
    position: fixed;
    right: 30%;
    top: 5%;
}
.registerBtnContainer{
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 1000000000;
}
.homeBookingIsOn{
    display: block;
}
/*ChatBot*/
.chat_icon{
	position: fixed;
	bottom: 5rem;
	right: 30px;
	z-index: 1000000;
	padding: 0;
	color:#35e888;
	cursor: pointer;
}
.chat_box{
	width: 400px;
	height: 80vh;
	position: fixed;
	bottom: 100px;
	right: 30px;
	background:#dedede;
	z-index: 1000000;
	transition: all 0.3s ease-out;
	transform: scaleY(0);
}
.chat_box.active{
	transform: scaleY(1);
}
#messages{
	padding: 20px;
}
.my-conv-form-wrapper textarea{
	height: 30px;
	overflow: hidden;
	resize: none;
}
.hidden{
	display: none !important;
}
